<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="payroll_conn" connectionString ="Data Source=BISHALREGMI-HP;Initial Catalog=payroll_db;User ID=sa;Password=GoToHell! " providerName ="System.Data.SqlClient">
    </add>
  </connectionStrings>
</configuration>